main.landing-layout {
  height: 90vh;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 180%;
    height: 180%;
    background: url("/images/oval.webp") no-repeat left center;
    background-size: contain;
    top: -90%;
    right: -105%;
  }
}
