@use "../base/variables" as *;

.btn {
  display: inline-block;
  padding: 12px 23px;
  border-radius: $border_radius_small;
  box-shadow: $shadow_default;
  font-weight: 600;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(0.98);
  }

  &.btn-primary {
    background-color: $dark_cyan;
    color: $gallery;
  }

  &.btn-secondary {
    background-color: $gallery;
    border: 2px solid $dark_cyan;
  }

  &.btn-small {
    padding: 8px 15px;
    font-size: 14px;
  }

  &.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0 15px;
    color: $gallery;

    & img, & svg {
      width: 20px;
      height: auto;
    }
  }
}
