
section.section.cabinet {

  div.cabinet-inner {
    margin: 10vh 10%;

    div.cabinet-container {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      div.cabinet-item {
        flex: 0 0 28%;
        max-width: 28%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: auto;
          border-radius: 30px;
        }
        h6 {
          display: inline-block;
          color: $medium_blue;
          position: relative;
          font-size: 20px;
          line-height: 2.5;
          margin-top: 10px;
          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: $medium_blue;
            opacity: .8;
            bottom: 0;
            right: 0;
          }
        }
      }
    }

  }

}
