$primaryColor: #5271ff;

/* ====== Reset ====== */
a {
  text-decoration: none;
}

/* ===== Burger ===== */
.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #444;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #444;
  left: 0;
}

.navbar-toggler-icon::before {
  top: -6px;
}

.navbar-toggler-icon::after {
  top: 6px;
}
