
// --- Colors
// - Primary
$dark_blue: #0A2640;
$medium_blue: #1C3D5B;
$medium_green: #69E6A6;
// - Neutrals
$dark_white: #ffffff;
$medium_white: #f1f1f1;
$light_white: #777777;
$dark_black: #000000;
// - Shadow
$text_stroke_black: #000000;

// --- Font
$font_size: 16px;
$font_weight: 400;
$font_style: normal;
$font_family_text: 'Montserrat';
$font_family_headings: 'Manrope';

// --- Text
$text_decoration: none;
$text_transform: none;

// --- Line
$line_height: 1.2;

// --- Duration
$basic_duration: .4s;
